
  <div class="mobile_view_img_container">
    <img class="mobile_view_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="">
  </div>
  <div class="mobile_view_img_container">
    <img class="mobile_view_img" src="../assets/asset_img/anim_images/anim_02.jpg" alt="">
  </div>
  <div class="mobile_view_img_container">
    <img class="mobile_view_img" src="../assets/asset_img/anim_images/anim_03.jpg" alt="">
  </div>
  <div class="mobile_view_img_container">
    <img class="mobile_view_img" src="../assets/asset_img/anim_images/anim_04.jpg" alt="">
  </div>
  <div class="mobile_view_img_container">
    <img class="mobile_view_img" src="../assets/asset_img/anim_images/anim_05.jpg" alt="">
  </div>
  <div class="mobile_view_img_container">
    <img class="mobile_view_img" src="../assets/asset_img/anim_images/anim_06.jpg" alt="">
  </div>


