




@media screen and(min-width:768px) {
  .footer-inner .first-row {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-inner .middle-row {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and(min-width:1024px) {
  .footer-inner .first-row {
    grid-template-columns: 1fr auto 1.5fr 1fr 1fr;
  }
  .footer-inner .rq-badge-holder {
    display: block;
  }
  .footer-inner .middle-row {
    margin-right: 0;
    text-align: left;
  }
  .footer-inner .middle-row {
    margin-left: auto;
  }
  .footer-inner .middle-row,
  .footer-inner .last-row ul {
    width: 38%;
  }
  .footer-inner .last-row {
    flex-direction: row;
  }
  .footer-inner .last-row ul {
    margin-bottom: 0;
  }
  .footer-inner .last-row {
    flex-direction: row;
  }
  .footer-inner .last-row ul svg {
    width: 40px;
    height: 40px;
  }
}
@media screen and(min-width:1280px) {
  .footer-inner .middle-row,
  .footer-inner .last-row ul {
    width: 31.3%;
  }
}
