<section class="policy-toc">
  <div class="container">
      <div class="inner">

          <h1 class="mb-4">TERMS &amp; CONDITIONS OF USE OF RETURNQUEEN.COM AND RETURN QUEEN PLATFORMS</h1>

          <p class="mb-4">Return Queen is a service, website and mobile app (the “Return Queen Platforms”),
              owned and
              operated by
              Return Queen LLC. </p>
          <p class="mb-4">This Agreement and all policies on the Return Queen Platforms sets out the terms
              upon which
              Return Queen offers you access to and use of our sites, services, applications and tools
              (collectively,
              “Services”). All policies and related agreements between you and Return Queen are incorporated
              into this
              Agreement. </p>
          <h4 class="mb-4">ACCEPTANCE OF THE USE OF RETURN QUEEN TERMS AND CONDITIONS</h4>
          <p class="mb-4">When you (“you”, “your” “consumer” or “visitor”) access the Website, application or
              our
              other services,
              whether physical or online (collectively, “the Return Queen Platforms”) you are agreeing to be
              bound by
              the following Terms and Conditions, as well as the Return Queen Privacy Policy linked here, all
              of which
              may be updated by use from time to time. Your continued use of Return Queen after changes are
              made to
              the Terms and Conditions are deemed to be acceptance of those changes. We will notify you, as
              the
              consumer, anytime changes or updates are made to the Privacy Policy.</p>

          <h4 class="mb-4">ABOUT RETURN QUEEN AND USE OF RETURN QUEEN</h4>
          <p class="mb-4">Return Queen is an electronic platform and physical courier for Return Queen members
              in
              order to provide Return Queen Services. Upon signing up for Return Queen and using the Return
              Queen
              Platforms, you contract directly with Return Queen. Your interaction with Return Queen is at
              your own
              risk. </p>

          <p class="mb-4">Return Queen operates when you download any of the Return Queen Platforms online,
              the
              Platforms access your online purchase history through your email (see Return Queen Privacy
              Policy for
              more information on how Return Queen uses personal information). Once purchase history is
              uploaded to
              the Return Queen Platforms, either through email or through a manual upload, Return Queen begins
              the
              process of returning your items for you.</p>
          <p class="mb-4">By using the Return Queen Services and Return Queen Platforms you agree to give
              Return Queen
              access to your purchase history and to begin the return process for you.</p>
          <h4 class="font-gilroy-bold mb-4">USE</h4>
          <p class="mb-4">If you register with Return Queen and utilize the Return Queen Platforms as
              contemplated
              under this Agreement, you are responsible for maintaining the confidentiality of your passwords,
              login
              and account information (“Your Confidential Information”). You will be responsible for all use
              of the
              Return Queen Platforms by you, anyone using Your Confidential Information (with or without your
              permission). Your Confidential Information must be accurate and up-to-date at all times. If any
              of Your
              Confidential Information changes, you must update it
              immediately. If you have any reason to suspect that your account is no longer secure (if, for
              example,
              you suspect there has been loss, theft or unauthorized disclosure of Your Confidential
              Information or
              your computer or mobile device used to access the Return Queen Platforms), you must promptly
              change Your
              Confidential Information that is affected and notify us through the information provided under
              Contact
              Us.</p>
          <p class="mb-4">
              If we believe you are abusing Return Queen and the Return Queen Platforms in any way, we may, at
              any
              time and without advance notice or liability in our sole discretion and without limiting other
              remedies,
              limit, suspend or terminate your user account(s) and access to the Return Queen Platforms and
              Services,
              delay or remove hosted content, remove any special status associated with your account(s),
              reduce or
              eliminate any discounts and take technical and/or legal steps to prevent you from using the
              Return Queen
              Platforms and Services.
          </p>
          <p class="mb-4">We may cancel unconfirmed accounts or accounts that have been inactive for a long
              time or
              modify or discontinue our Services. Additionally, we reserve the right to refuse or terminate
              our
              Services to anyone for any reason at our discretion.</p>

          <h4 class="font-gilroy-bold mb-4">POLICY ENFORCEMENT</h4>
          <p class="mb-4">When an issue arises, we may consider your performance history and the specific
              circumstances in applying our policies. We may choose to be more lenient with policy enforcement
              in an
              effort to do the right thing for both you and Return Queen.</p>

          <h4 class="font-gilroy-bold mb-4">PURCHASES</h4>
          <p class="mb-4">When you use of the Return Queen Platforms for Return Queen Services, your use
              constitutes
              your offer to
              Return Queen to use Return Queen Services for personal use. Return Queen reserves the right to
              limit,
              cancel or prohibit any requests or orders for Services that appear to be placed in violation of
              this
              policy.</p>
          <h4 class="font-gilroy-bold mb-4">REFUSAL OF ORDERS</h4>
          <p class="mb-4">Return Queen reserves the right to withdraw any membership from time to time. Return
              Queen
              makes reasonable efforts to process orders and requests in connection with Services. However,
              there may
              be circumstances that may require Return Queen to refuse to process Services. Return Queen
              reserves the
              right to refuse to process an order at any time, at its sole discretion, for any reason,
              including
              unreturnable items not in an original, unworn or unused state, and will not be liable for
              refusing to
              process an order at any time.</p>

          <h4 class="font-gilroy-bold mb-4">RETURNS AND REFUNDS </h4>
          <p class="mb-4">Any and all refunds to you from Return Queen are estimates and may change based upon
              state
              laws or any other fees that must be paid, including but not limited to shipping.
              Return Queen reserves the right to refuse returns that do not meet Return Queen’s return
              requirements in
              their sole discretion. On such refusal, items will be shipped back to you at your own expense.
          </p>

          <h4 class="font-gilroy-bold mb-4">CREDIT CARD DETAILS </h4>
          <p class="mb-4">Credit Cards on the Return Queen Platforms are securely processed by Return Queen’s
              credit
              card processor. Return Queen reserves the right to use a Third Party to store and process credit
              card
              information.</p>

          <h4 class="font-gilroy-bold mb-4">CHANGE OF USE</h4>
          <p class="mb-4">Return Queen reserves the right to change or remove (temporarily or permanently) the
              website, application or other online services without notice and you confirm that Return Queen
              shall not
              be liable to you for any such change or removal and change Terms and Conditions at any time.
              Your
              continued use of the Return Queen Platforms following any changes shall be deemed to be your
              acceptance
              of such change.</p>


          <h4 class="font-gilroy-bold mb-4">AUTHORIZATION TO CONTACT YOU; RECORDING CALLS</h4>
          <p class="mb-4">You consent to receive autodialed or prerecorded calls and text messages from Return
              Queen
              at any telephone number that you have provided us or that we have otherwise obtained. We may
              place such
              calls and texts to: (1) notify you regarding your account; (2) troubleshoot problems with your
              account;
              (3) resolve a dispute; (4) collect a debt; (5) poll your opinions through surveys or
              questionnaires; (6)
              contact you with offers and promotions; or (7) as otherwise necessary to service your account or
              enforce
              this Agreement, our policies, applicable law, or any other agreement we may have with you.
              Standard
              telephone minute and text charges may apply.</p>


          <h4 class="font-gilroy-bold mb-4">LINKS TO THIRD PARTIES</h4>
          <p class="mb-4">The Return Queen Platforms may include links to third party websites that are
              controlled and
              maintained by others. Any link to other websites is not an endorsement of such websites and you
              acknowledge and agree that we are not responsible for the content or availability of any such
              sites.</p>

          <h4 class="font-gilroy-bold mb-4">THIRD PARTY ADVERTISING</h4>
          <p class="mb-4">
              We may use third party advertising companies to collect data and/or service when you visit the
              Return
              Queen Platforms. These companies may use information about your visits to the Return Queen
              Platforms and
              other websites and applications in order to provide advertisements about goods and services of
              interest
              to you. Please keep in mind that your browser settings may not permit you to control the
              technologies
              utilized by these third-party companies. If you would like
              more information about this practice and to know your choices about not having this information
              used by
              these companies, visit <a href="http://www.networkadvertising.org/choices/">
                  http://www.networkadvertising.org/choices/</a> or contact Return Queen.
          </p>

          <h4 class="font-gilroy-bold mb-4">INTELLECTUAL PROPERTY</h4>
          <p class="mb-4">
              The Return Queen Platforms, including all of its information and content, such as text, design,
              data,
              wallpaper, icons, characters, artwork, images, photographs, graphics, music, sound, messages,
              software,
              source codes and the HTML used to generate the pages (collectively, the “Intellectual
              Property”), is
              owned or licensed by Return Queen or otherwise used by Return Queen as permitted by law and
              protected by
              patent, trademark and/or copyright under United States and/or foreign laws.
          </p>
          <p class="mb-4">In accessing the Return Queen Platforms, you agree that you will access the content
              solely
              for your personal, non-commercial use. None of the content may be downloaded, copied,
              reproduced,
              transmitted, stored, sold or distributed without the prior written consent of the copyright
              holder. This
              excludes the downloading, copying and/or printing of pages of the Return Queen Platforms for
              personal,
              non-commercial home use only.</p>

          <h4 class="font-gilroy-bold mb-4">INTELLECTUAL PROPERTY INFRINGEMENT</h4>
          <p class="mb-4">If you believe certain content on the Return Queen Platforms constitutes
              infringement of
              your copyright please contact Return Queen at Return Queen LLC, 581 N Franklin Turnpike, Ramsey,
              New
              Jersey 07446 or at (888) 787-3027, with the following information.</p>
          <ul class="mt-3">
              <li>Evidence of your authorization to act on behalf of the owner, who owns the copyrighted work.
              </li>
              <li>A description of the copyrighted work that you claim has been infringed.</li>
              <li>A description of where the alleged infringing material is located on Return Queen, including
                  a link
                  to where the alleged infringing material is located</li>
              <li>Your address, telephone number and email address</li>
              <li> statement by you that you have a good faith belief that the disputed use is not authorized
                  by the
                  copyright owner, its agent, or the law</li>
              <li>A statement by you, made under penalty of perjury, that the above information in your notice
                  is
                  accurate and that you are the copyright owner or authorized to act on the owner’s behalf.
                  and</li>
              <li>Your physical or electronic signature.</li>
          </ul>
          <p class="mt-4 mb-4">If you believe content on the Return Queen Platforms constitutes infringement
              of your
              trademark or other
              intellectual property rights, please provide a notice of your claim to the address above.</p>



          <h4 class="font-gilroy-bold mb-4">ACCESS AND INTERFERENCE </h4>
          <p class="mb-4">You agree that:</p>
          <ol>
              <li>You will not use any robot, spider, scraper, deep link or similar automated data gathering
                  or
                  extraction tools, program, algorithm or methodology to access, acquire, copy or monitor the
                  Return
                  Queen Platforms, other than via software that sends queries to the Return Queen Platforms to
                  index
                  or rank a website for search and location purposes, without Return Queen’s express written
                  consent,
                  which may be withheld in their sole discretion.</li>
              <li>You will not use or attempt to use any engine, software, tool, agent, or other device or
                  mechanism
                  (including without limitation browsers, spiders, robots, avatars or intelligent agents) to
                  navigate
                  or search the Return Queen Platforms, other than the search engines and search agents
                  available
                  through the Return Queen Platforms and other than generally available third-party web
                  browsers (such
                  as Microsoft Explorer). </li>
              <li>You will not post or transmit any file which contains viruses, worms, Trojan Horses, or any
                  other
                  contaminating or destructive features, or that otherwise interfere with the proper working
                  of the
                  Return Queen Platforms.</li>
              <li>You will not attempt to decipher, decompile or reverse-engineer any of the software
                  comprising or in
                  any way making up a part of the Return Queen Platforms.</li>
              <li>You may only use the Return Queen Platforms to make legitimate inquiries or requests.</li>
              <li>You will not make any false or fraudulent requests. If Return Queen is of the reasonable
                  opinion
                  that you have made a false or fraudulent request or order, Return Queen shall be entitled to
                  cancel
                  the order or request and inform the relevant authorities.</li>
              <li>You agree to provide correct and accurate email, postal and/or contact details to Return
                  Queen and
                  acknowledge that Return Queen may use these details to contact you if necessary and provide
                  to third
                  parties (see Return Queen Privacy Policy for more information on how Return Queen uses
                  personal
                  information).</li>
              <li>If you do not give Return Queen all the information needed, Return Queen may not be able to
                  complete
                  your request or order.</li>
              <li>You will not attempt to interfere or interfere in any way with Return Queen network or
                  related
                  network security or attempt to use Return Queen to gain unauthorized access to any other
                  computer
                  system.</li>
              <li>You will not use Return Queen to communicate, transmit, or post material that infringes on
                  the
                  intellectual property, privacy or publicity right of another person or entity. </li>
              <li>You will not use the Website to engage in conduct that would constitute a civil or criminal
                  offense,
                  or that violates any applicable laws or regulations.</li>
              <li>You are 18 years old and are legally capable of entering into binding contracts.</li>
          </ol>

          <h4 class="font-gilroy-bold mb-4 mt-4">DISCLAIMERS AND LIMITATIONS OF LIABILITY</h4>
          <p class="mb-4">All products, services and content on the Return Queen Platforms are provided on an
              AS
              IS
              and AS AVAILABLE basis without any representation or endorsement made and without warranty of
              any
              kind
              whether express or implied, including but not limited to the implied warranties of
              merchantability,
              satisfactory quality, fitness for a particular purpose, non-infringement, compatibility,
              security
              and
              accuracy. To the extent permitted by law, Return Queen will not be liable for any direct,
              indirect,
              special, incidental, consequential, exemplary or punitive damages, losses or damage whatever
              (including
              without limitation loss of business, opportunity, data profits) arising from or in any way
              related
              to
              the use of, or the inability to use or the performance of the Return Queen Platforms, or the
              content
              and
              materials or functionality on or accessed through Return Queen. Return Queen makes no warranty
              that
              the
              functionality of Return Queen will be uninterrupted or error free, that defects will be
              corrected or
              that Return Queen or the server that makes it available are free of viruses or anything else
              which
              may
              be harmful or destructive. Nothing in these Terms and Conditions shall be construed so as to
              limit
              the
              liability of Return Queen for death or personal injury as a result of the negligence of Return
              Queen
              or
              that of its employees or agents. </p>

          <h4 class="font-gilroy-bold mb-4">INDEMNITY </h4>
          <p class="mb-4">You agree to indemnify and hold Return Queen and its employees and agents harmless
              from
              and
              against all liabilities, legal fees, damages, losses, costs and other expenses in relation to
              any
              claims
              or actions brought against Return Queen arising out of any breach by you of these Terms and
              Conditions
              or other liabilities arising out of your use of Return Queen.</p>

          <h4 class="font-gilroy-bold mb-4">SEVERANCE</h4>
          <p class="mb-4">In any of these Terms and Conditions should be determined to be invalid, illegal or
              unenforceable for any reason by any court of competent jurisdiction then such Term or Condition
              shall be
              severed, and the remaining Terms and Conditions shall survive and remain in full force and
              effect
              and
              continue to be binding and enforceable.</p>

          <h4 class="font-gilroy-bold mb-4">CHOICE OF LAW</h4>
          <p class="mb-4">All Return Queen activity or use and these Terms and Conditions is governed by the
              laws
              of
              the United States of America and the applicable laws of the State of New York, without regard to
              conflict of law principles.</p>

          <h4 class="font-gilroy-bold mb-4">DISPUTE RESOLUTION </h4>
          <p class="mb-4">In the event of any claim, controversy, or alleged dispute between you and Return
              Queen,
              its
              members or affiliates (“Dispute”), you hereby agree to attempt in good faith to amicably resolve
              any
              Dispute at least thirty (30) days before instituting any legal proceeding.</p>

          <p class="mb-4">Each party agrees to submit any Dispute for resolution by final binding arbitration
              after
              serving written notice, which notice shall set forth in detail the controversy, question, claim
              or
              alleged breach along with you attempt to resolve such Dispute. Upon such notice and attempt to
              resolve,
              the party may then commence an arbitration proceeding pursuant to the rules of the American
              Arbitration
              Association (“AAA”) to be held in New Your County, New York, before an arbitrator to be selected
              by
              the
              AAA. Any such arbitration may only be commenced within one (1) year after the party requesting
              arbitration obtains knowledge of the cause of action forming the basis of the controversy or
              claim
              accrued. </p>

          <p class="mb-4">In any arbitration and subject to the ultimate discretion of the presiding
              arbitrator,
              each
              side will be limited to a maximum of one (1) day of argument (including rebuttal), and the
              parties
              agree
              in good faith to minimize discovery burden (e.g. confine the scope to actual areas in dispute
              and
              limit
              the topics and number of pages on which information is requested to matters directly relevant).
              The
              decision(s) of the arbitrator shall be final and binding and may not be appealed to any court of
              competent jurisdiction, or otherwise, except upon claim of fraud or corruption as by law
              provided,
              however, that implementation of such decision(s) shall in no way be delayed or otherwise
              impaired
              pending the outcome of any such appeal. Judgment upon the award rendered in such arbitration may
              be
              entered by any court having jurisdiction thereof. You agree that all Disputes will be limited
              between
              you, individually, and Return Queen. To the full extent allowable by law, you agree that no
              arbitration
              proceeding, or other dispute resolution proceeding shall be joined with any other party or
              decided
              on a
              class-action basis.</p>
          <p class="mb-4">Notwithstanding the foregoing, you agree that the following matters shall not, at
              the
              election of Return Queen, be subject to binding arbitration: (1) any Disputes related to, or
              arising
              from allegations of criminal activity; (2) any Disputes concerning Return Queen’s intellectual
              property
              rights; and (3) any claim for injunctive relief. Any Dispute not subject to arbitration shall be
              decided
              by the state or federal court located within New York County, New York, United States of
              America.
              Each
              party hereby waives any claim that such venue is improper or inconvenient. YOU HEREBY WAIVE YOUR
              RIGHT
              TO A JURY TRIAL WITH RESPECT TO ANY CLAIM, ACTION, OR PROCEEDING, DIRECTLY OR INDIRECTLY,
              ARISING
              OUT
              OF, OR RELATING TO THESE TERMS OF USE TO THE FULLEST EXTENT PERMITTED BY LAW. YOU UNDERSTAND
              THAT
              ABSENT
              THIS PROVISION, YOU WOULD HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL.</p>

          <h4 class="font-gilroy-bold mb-4">CLASS ACTION WAIVER </h4>
          <p class="mb-4">You agree that any arbitration or proceeding shall be limited to the dispute between
              us
              and
              you individually. To the full extent permitted by law, (i) no arbitration or proceeding shall be
              joined
              with any other; (ii) there is no right or authority for any dispute to be arbitrated or resolved
              on
              a
              class-action basis or to utilize class action procedures; and (iii) there is no right or
              authority
              for
              any dispute to be brought in a purported representative capacity on behalf of the general public
              or
              any
              other persons. You agree that you may bring claims against us only in your individual capacity
              and
              not
              as a plaintiff or class member in any purported class or representative proceeding.</p>

          <h4 class="font-gilroy-bold mb-4">WAIVER AND SEVERABILITY</h4>
          <p class="mb-4">Any waiver of any provision contained in these Terms and Conditions shall not be
              deemed
              to
              be a waiver of any other right, term, or provision of these Terms and Conditions. If any
              provision
              in
              these Terms and Conditions is determined to be wholly or partially invalid, illegal or
              unenforceable,
              such provision shall be enforced to the extent it is legal and valid and the validity, legality
              and
              enforceability of the remaining provisions shall in no way be affected or impaired thereby.</p>

          <h4 class="font-gilroy-bold mb-4">MISCELLANEOUS</h4>
          <p class="mb-4">Notice to California Residents. Under California Civil Code Section 1798.3,
              California
              users
              are entitled to the following consumer rights notice: If you have a question or complaint
              regarding
              the
              services provided on the Return Queen Platforms, please contact us at (888) 583-3212. You may
              also
              contact us by writing to Return Queen LLC, 581 N Franklin Turnpike, Ramsey New Jersey, 07446.
          </p>

          <small class="d-block mt-5 vs">V1</small>

      </div>
  </div>
</section>
