


<div class="food_container">
  <div class="left">
      <div class="food_item single_size box_1" id="box_1">
              <!-- <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">

      </div>
      <div class="food_item single_size box_2" id="box_2">              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item medium_size box_3" id="box_3">              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item single_size box_4" id="box_4">              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item single_size box_5" id="box_5">              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item large_size box_6" id="box_6">              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>

  </div>
  <div class="right">

          <div class="food_item large_size box_7" id="box_7">             <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item medium_size box_8" id="box_8">             <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item single_size box_9" id="box_9">             <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item single_size box_10" id="box_10">

              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>
      <div class="food_item single_size box_11" id="box_11">
              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->
          </div>

      <div class="food_item single_size box_12" id="box_12">

              <img class="box_img add_block" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <!-- <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image">
              <img class="box_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="Image"> -->

      </div>

  </div>

</div>








<!--

<div class="desk_view_img_container" *ngFor="let item of ">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_02.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_03.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_04.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_05.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_06.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_01.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_02.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_03.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_04.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_05.jpg" alt="">
</div>
<div class="desk_view_img_container">
  <img class="desk_view_img" src="../assets/asset_img/anim_images/anim_06.jpg" alt="">
</div>
 -->
