<section class="policy-toc">
  <div class="container">
      <div class="inner">
          <h1>PRIVACY POLICY OF RETURN QUEEN</h1>
          <p class="fpsace mt-4">Thank you for visiting Return Queen. It is our mission at Return Queen to
              make
              commerce
              easier and more efficient. We value and respect your privacy and are committed to protecting you
              through
              our compliance with this Privacy Policy. We at Return Queen created this Privacy Policy to give
              you
              confidence as you visit and use the Return Queen mobile application and
              website (the “Return Queen Platforms”).</p>
          <p class="mt-4 fpsace">Return Queen is owned and operated by Return Queen LLC. As explained below,
              we
              collect
              information from you (“you” “your” “consumer” or “visitor”) in various ways when you interact
              with
              the
              Return Queen application,website, and our other online services (collectively “Return Queen”).
          </p>
          <p class="mt-4 fpsace">By utilizing Return Queen, you agree to the terms set forth below in this
              policy.
              If
              you do
              not wish to agree to this
              Privacy Policy, you must refrain from using Return Queen. This policy may change from time to
              time.
              Your
              continued
              use of Return Queen after changes are made to this Privacy Policy is deemed to be acceptance of
              those
              changes.
              We will notify you, as the consumer, anytime changes or updates are made to the Privacy Policy.
          </p>


          <h5 class="mt-4">I. Summary</h5>
          <p class="mt-4 fpsace">As a consumer, you are free to explore Return Queen without providing any
              Personal
              Information, as defined below, about yourself, however, this may limit your ability to receive
              certain
              information from
              Return Queen and may limit access to Return Queen. To access certain features of Return Queen –
              you
              must
              first
              complete member registration where we may ask for certain Personal Information, as defined
              below.
          </p>
          <p class="mt-4 fpsace">When signing up for a Return Queen account you will be asked first to submit
              Personal
              Information such as location, age, and gender. Return Queen may also request, at your election,
              further
              information,
              including, without limitation, product photos, a profile picture, app usage reports, purchase
              history,
              and return history.
          </p>



          <h5 class="mt-4">II. What Types of Information Does Return Queen Collect</h5>
          <p class="mt-4 font-gilroy-bold">“Personal Information”</p>
          <p class="mt-4 fpsace">Personal Information refers to any information that you voluntarily submit to
              Return
              Queen
              that directly or
              indirectly relates to, identifies, could reasonably be linked to, or describes a particular
              individual.
              Personal Information
              includes, but is not limited to; name, e-mail address, physical address, phone number, birth
              date,
              etc.
              Return Queen
              collects Personal Information when you sign up for an account, send us an email, or engage in a
              transaction through
              Return Queen, as well as information to which may also be contained on server logs, such as your
              Internet protocol
              (“IP”) address.</p>
          <p class="mt-4 fpsace">Personal Information can also include information about any transactions that
              you
              enter into
              with Return Queen,
              and information about you that is available on the Internet, such as from Facebook, LinkedIn,
              Twitter,
              and Google, or
              publicly available information that we acquire from service providers.
          </p>
          <p class="mt-4 font-gilroy-bold">“Non-Personally Identifiable Information”</p>
          <p class="mt-4 fpsace">Return Queen may also collect Non-Personally Identifiable Information when
              you
              use
              Return
              Queen.
              Non-Personally Identifiable Information is information which, by itself, cannot be used to
              identify
              or
              contact you.
              Non-Personally Identifiable Information which we store may include, without limitation, website
              pages
              viewed, site
              visited before coming to the Return Queen website, browser type, operating system, device type
              (mobile,
              tablet or
              desktop), organization name, articles, presentation, and videos viewed, time spent viewing
              Return
              Queen
              website or
              using certain features of the website, demographic data such as server locations clickstream
              data,
              cookies existing
              on your computer, search criteria used and results, date and time of access or visits to the
              Website,
              frequency of
              visits to the Website, connection speed, and other information through automated tracking
              technologies,
              some of
              which are discussed below, and Return Queen may combine this automatically-collected information
              with
              other
              information Return Queen collects about you. Return Queen does this to improve the services it
              offers
              and to improve
              Return Queen services.</p>

          <p class="mt-4 font-gilroy-bold">“Navigational Information”</p>
          <p class="mt-4 fpsace">Information collected automatically through Return Queen can directly or
              indirectly
              identify an individual. Navigational information refers to information about your computer and
              your
              visits to Return
              Queen such as your IP address, geographical location, browser type, referral source, length of
              visit,
              and pages
              viewed.</p>
          <p class="mt-4 font-gilroy-bold">“Third Party Information”</p>
          <p class="mt-4 fpsace">Return Queen may at times collect information and/or Personal Information
              from a
              third-party
              company that you
              have ordered from and are returning to. We may at times transfer information we have collected
              about
              and
              from you
              to third parties.</p>



          <h5 class="mt-4">III. How Return Queen Collects Information</h5>
          <p class="mt-4 fpsace">Return Queen collects information about you, as a consumer, when you
              voluntarily
              provide it
              through the App
              and Website, or in the manner such as those described below:</p>

          <ul class="mt-4">
              <li>Web Beacons. Some pages of the Return Queen may contain small electronic files known as web
                  beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit us,
                  for
                  example, to
                  count users who have visited those pages of Return Queen and for other related website
                  statistics
                  (for
                  example, recording the popularity of certain website content and verifying system and server
                  integrity).
              </li>
              <li>Cookies (or browser cookies). A cookie is a small text file placed on the hard drive of your
                  computer.
                  You may refuse to accept cookies by activating the appropriate “Do Not Track” setting on
                  your
                  browser
                  or delete or “flush” all cookies stored on your device. However, if you select this setting
                  or
                  delete all
                  cookies you may be unable to access certain parts of Return Queen or certain features of
                  Return
                  Queen will be disabled. Unless you have adjusted your browser setting so that it will refuse
                  cookies, our
                  system will issue cookies when you direct your browser to Return Queen. Cookies placed on
                  your
                  computer by Return Queen are called “first-party” cookies, and those placed by third parties
                  would
                  be
                  “third-party” cookies. Return Queen uses cookies for authentication, session management, and
                  personalization of your experience.
              </li>
          </ul>



          <h5 class="mt-4">IV. How Return Queen Uses Information</h5>
          <p class="mt-4 fpsace">Return Queen may process Personal Information relating to you if one of the
              following
              applies:</p>

          <ul class="mt-4">
              <li>You have given your consent to Return Queen for one or more specific purposes. Under some
                  legislations,
                  Return Queen may be allowed to process Personal Information until you object to such
                  processing
                  (“opt-out”), without having to rely on consent or any other of the following legal bases.
                  This,
                  however, does
                  not apply, whenever the processing of Personal Information is subject to European data
                  protection
                  law,
                  where you must explicitly agree to the processing of your Personal Information.</li>
              <li>Provision of Personal Information is necessary for the performance of an agreement with you
                  and/or
                  for any
                  pre-contractual obligations thereof;
              </li>
              <li>Processing is necessary for compliance with a legal obligation to which Return Queen is
                  subject;
              </li>
              <li>Processing is related to a task that is carried out in the public interest or in the
                  exercise of
                  official authority
                  vested in Return Queen;</li>
              <li>Processing is necessary for the purposes of the legitimate interests pursued by Return Queen
                  or
                  by a
                  third-party.
              </li>
          </ul>

          <p class="mt-4 fpsace">In any case, Return Queen will gladly help to clarify the specific legal
              basis
              that
              applies
              to the processing, and in
              particular whether the provision of Personal Information is a statutory or contractual
              requirement,
              or a
              requirement
              necessary to enter into a contract.
          </p>



          <h5 class="mt-4">V. Purpose of Processing Personal Information</h5>
          <p class="mt-4 fpsace">
              Personal Information concerning you is collected in order to allow Return Queen to provide its
              services,
              as
              well as for the following purposes: contacting you, analytics and managing contacts and sending
              messages, and
              processing and fulfilling your order(s).
          </p>
          <ul class="mt-4">
              <li>Analytics. The services contained in this section enable Return Queen to monitor and analyze
                  web
                  traffic
                  and can be used to keep track of visitor behavior.</li>
              <li>Contacting You. Return Queen may use your information for notification and reminders such
                  as:
                  <ul>
                      <li>Mailing Lists or Newsletters. By subscribing to the mailing list or for the
                          newsletter,
                          your
                          email
                          address will be added to the contact list of those who may receive email messages
                          containing
                          information of commercial or promotion nature concerning Return Queen. Your email
                          address
                          might also be added to this list as a result of signing up for an account with
                          Return
                          Queen
                          or after
                          making a payment to Return Queen.
                      </li>
                      <li>Contact Form or Emails. By providing contact information on a contact form or email
                          to
                          Return
                          Queen, you authorize Return Queen to use these details to reply to requests for
                          information,
                          quotes, or any other kind of request in your email and as indicated by the form’s
                          header.
                      </li>
                      <li>Managing Contacts and Sending Messages. This type of service makes it possible to
                          manage
                          a
                          database of email contacts, phone contacts, or any other contact information to
                          communicate
                          with
                          you. These services may also collect data concerning the date and time when the
                          message
                          was
                          viewed by you, as well as when you interacted with it, such as by clicking on the
                          links
                          included in
                          the message.
                      </li>

                      <li>Platform Services and Hosting. These services have the purposes of hosting and
                          running
                          key
                          components of Return Queen, therefore allowing the provision of Return Queen from
                          within
                          a
                          unified platform. Such platforms provide a wide range of tools to Return Queen e.g.
                          analytics,
                          consumer registration, commenting, database management, e-commerce, payment
                          processing –
                          which require the handling of Personal Information. Some of these services work
                          through
                          geographically distributed servers, making it difficult to determine the actual
                          location
                          where the
                          Personal Information is stored.
                      </li>
                      <li>Selling Personal Information. Return Queen may at times sell your Personal
                          Information,
                          and
                          other
                          gathered information on you, to third parties in an anonymized form. Return Queen’s
                          purpose
                          of
                          selling such information is to provide a benefit and reward to you and other Return
                          Queen
                          users.
                          We use this information to help improve our services. Any Personal Information we
                          sell
                          shall
                          be
                          information you have previously agreed to share with Return Queen. Any Personal
                          Information
                          you
                          agree to share with Return Queen, you also agree to sell to Third Parties. If you
                          wish
                          to
                          opt-out
                          then please notify Return Queen at the following “Do Not Sell My Personal
                          Information”
                          link
                          here.
                      </li>
                      <li>Aggregate Consumer Information. Return Queen may at times, sell “Aggregate Consumer
                          Information” which is information relating to a group or category of consumers, from
                          which
                          individual consumer identities have been removed and is not linked or reasonably
                          linkable to
                          any
                          consumer or household. Return Queen may sell Aggregate Consumer Information without
                          your
                          consent.
                      </li>
                  </ul>
              </li>
          </ul>


          <h5 class="mt-4">VI. Who does Return Queen Share Information With</h5>
          <p class="mt-4">Return Queen may share your information, including Personal Information as follows:
          </p>
          <p class="mt-4 fpsace">Service Providers. At times, Return Queen may disclose the information
              collected
              from
              you to
              a third party or
              other service provider. Return Queen utilizes third parties and service providers to help
              achieve
              our
              purpose and
              render services offered. The third parties and service providers, in order to benefit Return
              Queen,
              are
              allowed to
              access Personal Information stored with Return Queen in order to perform their functions and for
              no
              other
              purpose.</p>
          <p class="mt-4 fpsace">Commercial Partners and Third Parties. Return Queen may, in connection with
              its
              services,
              disclose and sell
              your Personal Information you provide to us, such as demographic information, to commercial
              partners
              and
              third
              parties as well as other types of information collected. Return Queen will ensure that all
              safety
              steps
              are taken to
              ensure that your information is protected and kept secure.</p>
          <p class="mt-4 fpsace">Affiliates. Return Queen may disclose the Personal Information to corporate
              affiliates or
              subsidiaries, their use,
              and disclosure of Personal Information is subject to this Privacy Policy.</p>
          <p class="mt-4 fpsace">Mergers. In the event of a merger with another company, or Return Queen is
              acquired
              by
              another company, we
              may transfer the information we have collected to the other company.</p>
          <p class="mt-4 fpsace">Protection. Return Queen may disclose collected Personal Information where it
              is
              reasonably
              necessary to
              investigate, prevent or take action regarding illegal activities, including but not limited to,
              fraud,
              threats to the
              safety of a person, or violations of this Privacy Policy or our Terms of Service.
          </p>


          <h5 class="mt-4">VII. Where Information is Processed and Stored</h5>
          <p class="mt-4 fpsace">Your information may be stored and processed on our servers located in the
              United
              States.
              Data is processed at
              the operating office of Return Queen and any other places where the parties involved in the
              processing
              are located.
              Any corporate affiliates or third parties your information is provided or sold to may
              additionally
              store
              your information
              on their servers either in the United States or another Country.
          </p>
          <p class="mt-3 fpsace">Depending on your location, data transfers may involve transferring your
              Personal
              Information to places other
              than your own. To find out more about the place of processing and storing of such transferred
              Personal
              Information,
              you can check the section containing details about the processing of Personal Information.
          </p>
          <p class="mt-3 fpsace">You are also entitled to learn about the legal basis of data transfers of
              Personal
              Information to a country outside
              the European Union or any international organization governed by public international law or set
              up
              by
              two or more
              countries, such as the UN, and about the security measures taken by Return Queen to safeguard
              your
              Personal
              Information.
          </p>
          <p class="mt-3 fpsace">If any such transfer takes place, you can find out more by checking the
              relevant
              sections of
              this document or
              inquire with Return Queen using the information provided in the contact section.
          </p>

          <p class="mt-4 font-gilroy-bold">Retention of Personal Information</p>
          <p class="mt-4 fpsace">Personal Information shall be processed and stored for as long as required by
              the
              purpose it
              has been collected
              for. Therefore, personal information collected for purposes related to the performance of a
              contract
              between Return
              Queen and you shall be retained until such contract has been fully performed and, personal
              information
              collected for
              Return Queen’s legitimate interests shall be retained as long as needed to fulfill such purpose.
              You
              may
              find specific
              information regarding the legitimate interests pursued by Return Queen within the sections of
              this
              Privacy Policy or by
              contacting Return Queen.
          </p>
          <p class="mt-4 fpsace">Return Queen may be allowed to retain Personal Information for a longer
              period
              whenever you
              have given
              consent to such processing, as long as such consent is not withdrawn. Furthermore, Return Queen
              may
              be
              obliged to
              retain Personal Information for a longer period whenever required to do so for the performance
              of a
              legal obligation or
              upon order of an authority.
          </p>
          <p class="mt-4 fpsace">Once the retention period expires, all Personal Information shall be deleted.
              Therefore, the
              right to access, the
              right to erasure, the right to rectification, and the right to data portability cannot be
              enforced
              after
              expiration of the
              retention period.
          </p>

          <h5 class="mt-4">VIII. Your Rights and Data Protection</h5>
          <p class="mt-4 fpsace">You may exercise certain rights regarding your Personal Information processed
              and
              retained
              by Return Queen.
              In particular, you have the right to:</p>
          <ul class="mt-4">
              <li>Be informed. You have the right to know what rights and protections are offered to you as a
                  consumer
                  and/or user of Return Queen.</li>
              <li>Withdraw your consent at any time. You have the right to withdraw consent where you have
                  previously
                  given your consent to the processing of your Personal Information.</li>
              <li>Object to processing of your data. You have the right to object to the processing of your
                  Personal
                  Information if the processing is carried out on a legal basis other than consent. Further
                  details
                  are
                  provided in the dedicated section below.</li>
              <li>Access your Data. You have the right to learn if your data is being processed by Return
                  Queen,
                  obtain
                  disclosure regarding certain aspects of the processing and obtain a copy of the data
                  undergoing
                  processing.
              </li>
              <li>Verify and Seek Rectification. You have the right to verify the accuracy of your Personal
                  Information and
                  ask for it to be updated or corrected.
              </li>
              <li>Restrict the processing of your Data. You have the right, under certain circumstances, to
                  restrict
                  the
                  processing of your data. In this case, Return Queen will not process your data for any other
                  purpose
                  than storing it.</li>
              <li>Have your Personal Information deleted or otherwise removed. You have the right, under
                  certain
                  circumstances, to obtain the erasure of your Personal Information from Return Queen.</li>
              <li>Receive your Data and have it transferred to another controller. You have the right to
                  receive
                  your
                  data
                  in a structured, commonly used, and machine-readable format and, if technically feasible, to
                  have it
                  transmitted to another controller without any hindrance. This provision is applicable
                  provided
                  that
                  the
                  data is processed by automated means and that the processing is based on your consent, on a
                  contract
                  which Return Queen is part of, or on pre-contractual obligations thereof.</li>
              <li>Lodge a complaint. You have the right to bring a claim before their competent data
                  protection
                  authority.</li>
              <li>Not to be subject to automated decision-making including profiling.</li>
          </ul>
          <p class="mt-4 font-gilroy-bold">Details about the right to object to Processing.</p>

          <p class="fpsace">Where Personal Data is processed for a public interest, in the exercise of an
              official
              authority vested
              in the
              Return Queen or for the purposes of the legitimate interests pursued by Return Queen, you may
              object
              to
              such
              processing by providing a ground related to their particular situation to justify the objection.
          </p>
          <p class="fpsace mt-4">You must know that, should your Personal Information be processed for direct
              marketing
              purposes, they can
              object to that processing at any time without providing any justification. To learn, whether
              Return
              Queen is processing
              Personal Information for direct marketing purposes, you may refer to the relevant sections of
              this
              document.
          </p>
          <p class="font-gilroy-bold mt-4">How to exercise these rights</p>
          <p class="fpsace">Any requests to exercise your rights can be directed to Return Queen through the
              contact
              details provided
              in this
              document. These requests can be exercised free of charge and will be addressed by Return Queen
              as
              early
              as
              possible and always within one month. However, Return Queen may refuse or charge for any request
              that is
              unfounded or excessive. Return Queen will notify You of the refusal and the basis of that
              refusal
              and
              that you will
              have the right to complain to the supervisory authority and seek a judicial remedy within one
              month
              of
              the request.</p>


          <h5 class="mt-4">IX. Data Breaches and Data Security</h5>
          <p class="mt-4 fpsace">Return Queen takes appropriate security measures to prevent unauthorized
              access,
              disclosure,
              modification, or
              unauthorized destruction of data. Data processing is carried out using computers and/or IT
              enabled
              tools, following
              organizational procedures and modes strictly related to the purposes indicated. In addition to
              Return
              Queen, in some
              cases, data may be accessible to certain types of persons in charge involved with the operation
              of
              Return Queen
              (administration, sales, marketing, legal, system administration) or external parties (such as
              third-party technical
              service providers, mail carriers, hosting providers, IT companies, communications agencies)
              appointed,
              if necessary
              as Data Processors by Return Queen. The updated list of these parties may be requested from
              Return
              Queen
              at any
              time.</p>
          <p class="mt-4 fpsace">Return Queen safely secures Personal Information from misuse, unauthorized
              access,
              and
              disclosure and
              loss by ensuring a level of security appropriate to the risk of information. Such levels of
              security
              include encrypting
              and pseudonymizing personal data wherever possible and considering all other technical and
              administrative
              procedures, generally accepted practices in the industry. Personal Information is additionally
              stored on
              secured
              servers.</p>

          <p class="mt-4 fpsace">However, despite Return Queen’s best efforts, nothing can guarantee 100%
              security
              of
              your
              information. If
              you have any questions concerning the protection of your Personal Information, please contact
              Return
              Queen.
          </p>

          <p class="mt-4 fpsace">In the event of a data breach, Return Queen will notify the corresponding
              supervising
              authority within
              seventy-two (72) hours of learning of the breach or after 72 hours with an explanation for the
              delay, to
              the supervising
              authority.
          </p>

          <h5 class="mt-4">X. Sensitive and Restricted Scopes for Google and other Similarly Situated Hosts
          </h5>
          <p class="mt-4 fpsace">Certain web hosts, such as Google, require the use of scopes in order to
              access
              user
              data
              hosted on their platforms (“Restricted Scope Data”). In order for the Return Queen Application
              to
              function at its best,
              Return Queen uses Restricted Scope with Google and other similarly situated hosts. Accordingly,
              Return
              Queen:
          </p>
          <ol>
              <li>Represents that Return Queen seeks access to user data and has obtained client authorization
                  through
                  this Privacy Pliicy.</li>
              <li>Limits the use of data and does not use or transfer data for ads, in any way, and will not
                  use
                  the
                  Restricted Scopes data for serve advertisements.</li>
              <li>Return Queen will only transfer Restricted Scopes Data if that transfer is: (a) necessary to
                  provide
                  or
                  improve user-facing features that are prominent from the Return Queen App interface, (b) to
                  comply
                  with applicable laws or (c) a part of a merger, acquisition or sale of assets of Return
                  Queen.
              </li>
              <li>Only uses the data gathered from Restricted Scopes to improve user-facing features, such as
                  managing
                  returns, and
              </li>
              <li>Will not allow humans to read the data unless first obtaining a user’s affirmative agreement
                  (i.e.
                  tech
                  support); it is necessary for security purposes; necessary to comply with applicable law or
                  the
                  use
                  of
                  such data is limited to internal operations and data has been aggregated and anonymized.
              </li>
          </ol>
          <p class="mt-4">Return Queen adheres to strict security practices and agrees to pass an annual
              security
              assessment as well as
              obtain a Letter of Assessment from a designated third party.
          </p>
          <p class="mt-4">Return Queen agrees that it will not engage in any activity that may deceive or
              mislead
              either user of the Return
              Queen Platforms or Web Host, such as Google.com, as to the Return Queen Services.</p>


          <h5 class="mt-4">XI. Miscellaneous</h5>
          <p class="mt-4 fpsace">In addition to the information contained in this Privacy Policy, Return Queen
              may
              provide
              you with additional and
              contextual information concerning particular services or the collection and processing of
              Personal
              Information upon
              request.
          </p>
          <p class="font-gilroy-bold mt-3">California Consumers</p>
          <p class="mt-4 fpsace">California Civil Code Section § 1798.83 permits users of Return Queen that
              are
              California
              residents to request certain information regarding our disclosure of Personal Information to
              third
              parties for their direct
              marketing purposes. You make two requests per 12-month calendar year. To make such a request
              please
              see
              below
              Contact Information for Return Queen. Please allow up to thirty (30) day response.</p>

          <p class="font-gilroy-bold mt-4">Children’s Privacy Policy</p>
          <p class="mt-4 fpsace">Return Queens complies with all applicable laws, codes, and regulations
              related
              to
              the
              protection of children’s
              privacy, including, but not limited to the Children’s Online Privacy Protection Act of 1998
              (COPPA).
              Return Queen is
              not intended for children under sixteen (16) years of age. No one under such age may provide
              information
              to Return
              Queen. We do not knowingly collect personal information from anyone under the age of 16. If you
              are
              under the age
              of 16 please do not provide any Personal Information to Return Queen. If we learn that we have
              collected
              or received
              Personal Information from an individual under 16 without verification of parental consent, we
              will
              delete that
              information. Please feel free to contact us if you believe we may have any information from or
              about
              an
              individual
              under the age of 16.</p>

          <h5 class="mt-4">XII. Contact Information</h5>
          <p class="mt-4 fpsace">If you wish to contact Return Queen with questions or comments about this
              Privacy
              Policy or
              privacy practices
              or, wish to exercise any of your rights detailed in the above Privacy Policy, please contact us
              at:
          </p>

          <div class="contact-information">
              <p>Return Queen LLC</p>
              <p>581 Franklin Turnpike</p>
              <p>Ramsey, New Jersey 07446</p>
              <a href="https://www.returnqueen.com/" target="_blank">www.returnqueen.com</a>
              <p>1-888-787-3027 </p>
              <p class="mt-4">V2 Updated 12/01/20</p>
          </div>
      </div>
  </div>
</section>
