
.mt-4 {
  margin-top: 1.5rem;
}
.policy-toc h1 {
  font-size: 1.5625rem;
}
.policy-toc p {
  line-height: 1.5;
}
.policy-toc ul, .policy-toc ol {
  padding-left: 1.5rem;
}

.fpsace::before {
  content: "    ";
}
