<section class="bg_black">
  <div class="container">
    <div class="nav-inner">
      <nav>
        <div class="mobile">
          <img class="mobile_logo" src="assets/asset_img/rq_logo.png" alt="" />
          <i class="fa fa-bars icon"></i>
          <!-- <i class="">&#f0c9;</i> -->
        </div>
        <div class="large_nav mobile_nav">
          <div class="nav_left_part">
            <a routerLink="/"> <img class="logo" src="assets/asset_img/rq_logo.png" alt="" /></a>
          </div>
          <div class="nav_right_part">
            <ul class="right_ul">

              <a routerLink="work-with-us"> <li class="item">our retailers</li> </a>
              <a routerLink="about-us"> <li class="item">our service areas</li> </a>
              <a routerLink="faq"> <li class="item">how dose it work?</li> </a>
              <button class="btn">download the app</button>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>

<div style="margin-top: 80px;">

  <router-outlet ></router-outlet>
</div>


<section class="return-footer">
  <div class="container">
      <div class="inner">
        <app-return-footer></app-return-footer>

    </div>
  </div>
</section>

<footer>
  <div class="container">
    <app-footer></app-footer>
  </div>
</footer>


