<div class="grid-display">

  <div class="left">

    <h1 class="hero_text">returns from your couch.</h1>
    <p class="font-gilroy-bold return-footer-p">download the app.<br> your first pickup is
      <span class="text-primary">free.</span>
    </p>
  </div>
  <div class="right">
    <a class="inline-block apps app-store-link pointer store-link" href="https://apps.apple.com/us/app/returnqueen/id1537845231" target="_blank">
      <img src="assets/asset_img/apps-store-ai.png" class="block" alt="App store link">
    </a>
    <a class="inline-block apps app play-store-link pointer store-link" href="https://play.google.com/store/apps/details?id=com.returnqueen" target="_blank">
      <img src="assets/asset_img/google-play-badge-ai.png" class="block " alt="Play store link">
    </a>
  </div>

</div>
