<section class="press-hero ">
  <div class="container">
    <div class="inner">
      <div class="left">
        <h1 class="hero_text">hot <br />off the <br />presses.</h1>
        <p class="text-primary font-gilroy-bold">
          read all about our latest news.
        </p>
        <a class="common-btn href-link" href="#press-releases"
          >see what’s new</a
        >
      </div>
      <div class="right">
        <img
          src="assets/asset_img/press/van.png"
          alt="ReturnQueen Van"
          width="640"
          height="350"
        />
      </div>
    </div>
  </div>
</section>

<section class="press-releases ">
  <div class="container">
    <div class="inner text-center">
      <h2 class="section-title text-primary">press releases.</h2>
      <app-press-releases class="press-grid"></app-press-releases>
    </div>
  </div>
</section>

<section class="people-talking ">
  <div class="container">
      <div class="inner">
          <h2 class="section-title text-primary text-center">people talking about us.</h2>

          <div class="testimonials-slider relative">
              <div class="swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight">
                  <div>
                        <div class="at-grid">
                              <div class="at-image text-center">
                                  <div class="at-image-wrapper">
                                      <img src="assets/asset_img/testimonials/andrew.jpg" width="250" height="250" alt="Andrew">
                                  </div>
                              </div>

                              <div class="at-content">
                                  <p class="font-gilroy-bold">Andrew</p>
                                  <span class="block">I sometimes have returns from different
                                      places, so the fact that I can put them all in one bag and place on my
                                      doorstep is GENIUS</span>
                                  <small class="font-gilroy-bold">Austin, TX</small>
                              </div>
                          </div>
                      </div>






              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

              <button class="about-act about-slider-prev" tabindex="0" aria-label="Previous slide" aria-controls="swiper-wrapper-cac871ba783a9332">
                  <svg width=" 24" height="24" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd" d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z">
                  </path>
                  </svg>
              </button>

              <button class="about-act about-slider-next" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-cac871ba783a9332">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                      <path fill-rule="evenodd" d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z">
                      </path>
                  </svg>
              </button>

          </div>

      </div>
  </div>
</section>

<section class="wanna-collab ">
  <div class="container">
      <div class="inner text-center">
          <h2 class="section-title text-primary">wanna collab?</h2>

          <div class="collab-grid">

              <div class="collab-inner">
                  <div class="vid-image">
                      <img class="lazy-loaded" alt="Collab with ReturnQueen" src="assets/asset_img/press/dunkin.jpg">
                  </div>
                  <span>@lisanschechter</span>
              </div>
              <div class="collab-inner">
                  <div class="vid-image">
                      <img class="lazy-loaded" alt="Collab with ReturnQueen" src="assets/asset_img/press/colab.png">
                  </div>
                  <span>@lisanschechter</span>
              </div>
              <div class="collab-inner">
                <div class="vid-image">
                    <iframe title="ReturnQueen collab video two" width="640" height="640" frameborder="0" class="lazy-loaded" allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen="" src="https://player.vimeo.com/video/605613066?h=8c0e56fb4c&amp;autoplay=1&amp;loop=1&amp;background=1&amp;muted=1"></iframe>
                </div>
            </div>



          </div>

          <a class="common-btn" href="mailto:contact@returnqueen.com">let’s work together</a>

      </div>
  </div>
</section>
