<section class="aboutus-hero">
  <div class="container">
      <div class="inner black_ray">
          <div class="left">
              <h1 class="hero_text">the <br> <span>return</span>queen <br>story.</h1>
              <p class="text-primary font-gilroy-bold">not your average fairy tale.</p>
              <a class="common-btn href-link" href="#the-team">meet the team</a>
          </div>
      </div>
  </div>
</section>

<section class="hello-section">
  <div class="container">
      <div class="inner text-center">

          <h2 class="section_title text-primary">
              pile of returns sitting<br> in the corner sound familiar?
          </h2>
          <p>It’s the errand that gets bumped to the bottom of the list every. single. time.</p>

          <div class="hello-section-grid">
              <p class="hello-title text-primary">hello!</p>
              <div class="sec-content">
                  <p>we’re two local new york women, and we were determined to do something about this always
                      annoying chore.</p>

                  <p>It occurred to us…</p>

                  <p>…what if we could create a system that would make returns stress-free? Our
                      brains started working some serious overtime. Dozens of coffees downed, endless
                      sleepless nights, and more grey hairs than we would like to admit later,
                      ReturnQueen was born. January 2021, the official launch of the ReturnQueen app.
                      Boom.<br>
                      Just like that, online shopping is now headache-free.
                  </p>
                  <p>Go ahead and order six sizes of that graphic tee, three pairs of bunny pajamas,
                      and two of the most beautiful lamps you have ever seen.</p>

                  <p>As long as you keep shopping, we’ll keep returning.</p>

                  <p>All you do is <a class="dwnld-app-link">download the app.</a></p>

              </div>
              <div class="signature">
                  <svg width="51" height="45" viewBox="0 0 51 45" fill="none">
                      <path d="M5.51321 5.03461C16.7132 0.234611 23.1799 7.70128 25.0132 12.0346C26.6132 1.63461 34.6799 -0.298722 38.5132 0.0346109C47.3132 0.834611 50.0132 6.53461 50.0132 11.0346C48.4132 26.6346 35.3465 39.8679 29.0132 44.5346C25.4132 43.7346 13.5 35.5 8.01321 29.5346C-5.18679 16.7346 0.846544 7.86794 5.51321 5.03461Z" fill="#8755DE"></path>
                  </svg>
                  <img src="assets/asset_img/aboutus/sign.png" width="300" class="signature">
              </div>
          </div>

          <h3 class="text-primary">from our busy lifestyle to yours, we’ve brought you the solution to making
              online returns stress-free.</h3>

      </div>
  </div>
</section>

<section class="our-mission ">
  <div class="container ">
      <div class="inner black_ray">

          <div class="left">
              <p>our mission.</p>
              <span class="block">Not only should you be able to buy what you want, but you should be able to
                  return what
                  you want— without the headache.</span>
              <a class="common-btn dwnld-app-link">download the app</a>
          </div>

          <div class="right text-center">
              <img alt="mission" width="300" height="300" class="lazy-loaded" src="assets/asset_img/aboutus/mission.png">
          </div>

      </div>
  </div>
</section>

<section class="the-team  ">
  <div class="container ">
      <div class="inner text-center black_ray">

          <h4 class="section_title text-primary">the team</h4>
          <p>meet some of the key team members.<br>
              aka the awesome minds that make this happen.</p>

          <div class="team-grid">

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="melissa s. vice president of growth" src="assets/asset_img/aboutus/melissa.png">
                      <p class="font-gilroy-bold">melissa s.</p>
                      <span>vice president of growth</span>
                  </div>
                  <div class="member-points">
                      <p>a jersey girl at heart, melissa practically grew up in the retail industry.</p>
                      <p>ball of energy. don’t even bother trying to keep up.</p>
                      <p>always 10 steps ahead.</p>
                      <p>talk to her about charcuterie boards.</p>
                      <p>deliriously proud dance mom.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="mary g. vice president of strategy" src="assets/asset_img/aboutus/mary.png">
                      <p class="font-gilroy-bold">mary g.</p>
                      <span>vice president of strategy</span>
                  </div>
                  <div class="member-points">
                      <p>a dynamic and strategic retail veteran.</p>
                      <p>long-standing record of successes across the retail/wholesale landscape.</p>
                      <p>loves her nj beach living.</p>
                      <p>wouldn’t give up her family and friends for anything.</p>
                      <p>looking for mary? you’ll find her hiking. #nature</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="mallory g. vice president of marketing" src="assets/asset_img/aboutus/mallory.png">
                      <p class="font-gilroy-bold">mallory k.</p>
                      <span>vice president of marketing</span>
                  </div>
                  <div class="member-points">
                      <p>friend to all things small and cute. you can find her making friends with stray cats.
                      </p>
                      <p>yes, those are her real eyelashes.</p>
                      <p>can recite every line of “the office.” every.single.one.</p>
                      <p>used to own a children’s clothing brand!</p>
                      <p>lived in jolly old london for a year.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="marc g. customer service manager" src="assets/asset_img/aboutus/mark.png">
                      <p class="font-gilroy-bold">marc g.</p>
                      <span>customer service manager</span>
                  </div>
                  <div class="member-points">
                      <p>new jersey native.</p>
                      <p>marc prides himself on his problem-solving skills and passion for helping people.</p>
                      <p>little league coach and team president.</p>
                      <p>practices patience 24/7.</p>
                      <p>there is nobody as calm as Marc.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="lauren w. office manager" src="assets/asset_img/aboutus/lauren.png">
                      <p class="font-gilroy-bold">lauren w.</p>
                      <span>office manager</span>
                  </div>
                  <div class="member-points">
                      <p>radiates light, instant smiles and positive energy when you are greeted by lauren.
                      </p>
                      <p>organized? her standards are pretty high, step up.</p>
                      <p>loves working out, hiking and all things outdoors, but the weather better be warm!
                          #hatesthecold</p>
                      <p>boop! she is a massive Schitts Creek fan- who isn't?</p>
                      <p>proud momma and wife.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="Eizik G. &amp; Product Manager" src="assets/asset_img/aboutus/eizik.png">
                      <p class="font-gilroy-bold">eizik g.</p>
                      <span>developer &amp; product manager</span>
                  </div>
                  <div class="member-points">
                      <p>born in london</p>
                      <p>now lives in ny and thrives on the hustle</p>
                      <p>family man with two adorable kids</p>
                      <p>spare time? it’s gonna be guitar</p>
                      <p>the most easygoing guy you’ll find, he never gets rattled by pressure.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="manu a. lead engineer" src="assets/asset_img/aboutus/manu.png">
                      <p class="font-gilroy-bold">manu a.</p>
                      <span>lead engineer</span>
                  </div>
                  <div class="member-points">
                      <p>originally from alappuzha, a small town in the southern state of india.</p>
                      <p>always held a passion for problem-solving.</p>
                      <p>for the last three years, he’s been a self-proclaimed nomad, living in many exotic
                          places.</p>
                      <p>now finds himself in tallinn, Estonia.</p>
                      <p>world traveler</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="antonio f. warehouse manager" src="assets/asset_img/aboutus/antonio.png">
                      <p class="font-gilroy-bold">antonio f.</p>
                      <span>warehouse manager</span>
                  </div>
                  <div class="member-points">
                      <p>a bronx native now living in lincoln park, nj.</p>
                      <p>educated at big box management.</p>
                      <p>big-time motorcycle aficionado.</p>
                      <p>for fun, he builds choppers and collects spray paint.</p>
                      <p>loves all types of music, particularly 50’s and 60’s rock and roll.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="david w. qa tester" src="assets/asset_img/aboutus/david.png">
                      <p class="font-gilroy-bold">david w.</p>
                      <span>qa tester</span>
                  </div>
                  <div class="member-points">
                      <p>loves hockey.</p>
                      <p>went to school for video game design.</p>
                      <p>he’s a very chilled out guy. did we mention super patient?</p>
                      <p>loves the caffeine.</p>
                      <p>always learning..kind of like an evolving robot that takes over the world.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="james r. qa tester" src="assets/asset_img/aboutus/james.png">
                      <p class="font-gilroy-bold">james r.</p>
                      <span>qa tester</span>
                  </div>
                  <div class="member-points">
                      <p>is one with nature and all earthly creatures.</p>
                      <p>enjoys sport climbing.</p>
                      <p>loves a movie—good, bad or really bad.</p>
                      <p>fave genre is horror or sci-fi.</p>
                      <p>loves all kinds of tech stuff!</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="kevin w. software engineer" src="assets/asset_img/aboutus/kevin.png">
                      <p class="font-gilroy-bold">kevin w.</p>
                      <span>software engineer</span>
                  </div>
                  <div class="member-points">
                      <p>known to be a tik-toker. we don’t judge, kevin.</p>
                      <p>is the official office snack monster.</p>
                      <p>enjoys an occasional basketball game.</p>
                      <p>lover of puzzles.</p>
                      <p>he’s big on exploring new places.</p>
                  </div>
              </div>

              <div class="member">
                  <div class="member-name text-center">
                      <img width="182" height="210" class="lazy-loaded" alt="ari u. qa tester" src="assets/asset_img/aboutus/ari.png">
                      <p class="font-gilroy-bold">ari u.</p>
                      <span>senior front-end developer</span>
                  </div>
                  <div class="member-points">
                      <p>we’ve got outselves a painter here folks.</p>
                      <p>exercise maven—loves to lift things up and put them down.</p>
                      <p>loves a good dessert.</p>
                      <p>major movie buff—we’ll bring the popcorn.</p>
                      <p>total tech and design nerd.</p>
                  </div>
              </div>

          </div>

      </div>
  </div>
</section>
