
<swiper #swiper  [config]="config" class="slider" (swiper)="onSwiper()" (slideChange)="onSlideChange()" [pagination]="{ clickable: true }"
[scrollbar]="{ draggable: true }">
  <ng-template swiperSlide class="individual-pricing"  *ngFor="let info of planInfo; let i = index">
    <div class="pricing-header">
      <p class="popular hide" [ngClass]="{show: i==2}">most popular!</p>
      <div class="ph-top">
        <p class="title">
          {{ info.title }}
          <img
            alt="free"
            class="lazy-loaded"
            width="60"
            height="24"
            [src]="info.img"
          />
        </p>
      </div>

      <div class="price-amt-holder">
        <p class="price-amt">{{ info.price }} <span>/mo</span></p>
        <span>{{ info.priceBelow }}</span>
      </div>

      <div class="type-of-service text-center">
        <span>{{ info.offer }} &trade;</span>
      </div>
    </div>

    <div class="pricing-points-holder">
      <div class="point-header">
        <p>{{ info.heading }}</p>
      </div>
      <div
        class="pricing-points"
        *ngFor="let p of info.details; let point = index"
      >
        <!-- condition for addin class using ng-class -->
        <p  [ngClass]="{'checked': true, 'crossed': true }" > {{ info.details[point] }}</p>


      </div>
    </div>
  </ng-template>
</swiper>

<button (click)="slideNext()"></button>
<button (click)="slidePrev()"></button>
