<!-- <div class="partners-grid"> <!-- *ngFor="for imageName in imageNameCollectio" -->
<!--<div class="partner-box" >
      <img width="200" height="200" alt="Amazon" [src]="path" class="lazy-loaded" >
  </div>
 </div>
-->

<div class="partners-grid">
  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Amazon"
      class="lazy-loaded"
      src="assets/asset_img/partners/amazon.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Bed Bath &amp; Beyond"
      class="lazy-loaded"
      src="assets/asset_img/partners/bedbath.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Zara"
      class="lazy-loaded"
      src="assets/asset_img/partners/zara.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="best Buy"
      class="lazy-loaded"
      src="assets/asset_img/partners/best.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Kohl's"
      class="lazy-loaded"
      src="assets/asset_img/partners/kohls.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Macys"
      class="lazy-loaded"
      src="assets/asset_img/partners/macys.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="H &amp; M"
      class="lazy-loaded"
      src="assets/asset_img/partners/hm.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Gap"
      class="lazy-loaded"
      src="assets/asset_img/partners/gap.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Puma"
      class="lazy-loaded"
      src="assets/asset_img/partners/puma.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Sephora"
      class="lazy-loaded"
      src="assets/asset_img/partners/sephora.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Wayfair"
      class="lazy-loaded"
      src="assets/asset_img/partners/wayfair.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Foot Locker"
      class="lazy-loaded"
      src="assets/asset_img/partners/foot.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt=""
      class="lazy-loaded"
      src="assets/asset_img/partners/icon01.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Zappos"
      class="lazy-loaded"
      src="assets/asset_img/partners/zappos.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="Crate &amp; Barrel"
      class="lazy-loaded"
      src="assets/asset_img/partners/crate.png"
    />
  </div>

  <div class="partner-box">
    <img
      width="200"
      height="200"
      alt="The North Face"
      class="lazy-loaded"
      src="assets/asset_img/partners/north.png"
    />
  </div>
</div>
