<section class="faq-hero">
  <div class="container">
    <div class="inner black_ray">
      <div class="left">
        <h1 class="hero_text">frequently <br />asked <br />questions.</h1>
        <p class="text-primary font-gilroy-bold">got questions?</p>
        <a class="common-btn href-link" href="#faq-list">check out the faqs</a>
      </div>
    </div>
  </div>
</section>

<section class="faq-holder">
  <div class="container">
    <div class="inner">
      <div class="faq-search">
        <form class="relative" [formGroup]="searchForm" novalidate class="form">
          <input
            [formControl]="search"
            class="wr"
            type="text"
            placeholder="type keywords to find answers"
            name="faq"
          />
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z"
            ></path>
          </svg>

        </form>



      </div>

      <div class="all-faqs-parent" id="faq-list">

        <div class="faq-category" id="9bf31c7ff062936a96d3c8bd1f8f2ff3">
          <h2 class="section_title text-primary text-center">
            App Data &amp; Security
          </h2>
          <div class="faq-cards-wrapper">
            <div class="faq-card">
              <button class="faq-title" aria-expanded="false">
                Is the mobile app secure?
              </button>
              <div class="collapse">
                <div class="faq-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, assumenda illo. Cupiditate nostrum facilis magnam velit dicta vero eum quis!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-cards-wrapper">
            <div class="faq-card">
              <button class="faq-title" aria-expanded="false">
                Is the mobile app secure?
              </button>
              <div class="collapse">
                <div class="faq-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, assumenda illo. Cupiditate nostrum facilis magnam velit dicta vero eum quis!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-cards-wrapper">
            <div class="faq-card">
              <button class="faq-title" aria-expanded="false">
                Is the mobile app secure?
              </button>
              <div class="collapse">
                <div class="faq-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, assumenda illo. Cupiditate nostrum facilis magnam velit dicta vero eum quis!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-cards-wrapper">
            <div class="faq-card">
              <button class="faq-title" aria-expanded="false">
                Is the mobile app secure?
              </button>
              <div class="collapse">
                <div class="faq-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, assumenda illo. Cupiditate nostrum facilis magnam velit dicta vero eum quis!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-category" id="9bf31c7ff062936a96d3c8bd1f8f2ff3">
          <h2 class="section_title text-primary text-center">
            App Data &amp; Security
          </h2>
          <div class="faq-cards-wrapper">
            <div class="faq-card">
              <button class="faq-title" aria-expanded="false">
                Is the mobile app secure?
              </button>
              <div class="collapse">
                <div class="faq-content">
                  <p>paragraph</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
